
@{
    ViewBag.Title = "Busqueda";
}

<script>
    $(document).ready(function () {
        $('#opcTareas').addClass("nav-item active submenu");
        $('#opTareas').addClass("collapse show");
        $('#sopcBusquedas').addClass("active");
    });
</script>
    
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Buscar Temas</h4>
    </div>
    <div class="row">



        <div class="col-md-12">
            <div class="card">

                <div class="card-body">

                    <div class="separator">
                        <label><b>Opciones de Búsqueda</b></label>
                        <p>&nbsp;</p>
                    </div>

                    <form method="post" action="Buscar">
                        <div class="row border-dark fa-border">

                            <div class="col-md-6 col-lg-4">

                                <div class="form-group form-inline">
                                    <label for="Asunto" class="col-md-3 col-form-label">Asunto</label>
                                    <div class="col-md-9 p-0">
                                        <input type="text" class="form-control input-solid" name="Asunto">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Responsable" class="col-md-3 col-form-label">Responsable</label>
                                    <select class="form-control input-solid" name="Responsable" style="width: 200px">
                                        <option value="">&nbsp;</option>
                                        @foreach (var itm in ViewBag.Usuarios)
                                        {
                                            <option value="@itm.Usuarios.Id">@itm.Usuarios.Nombre</option>
                                        }
                                    </select>
                                </div>

                            </div>


                            <div class="col-md-6 col-lg-3">

                                <div class="form-group form-inline">
                                    <label for="Inicio" class="col-md-3 col-form-label">Del</label>
                                    <div class="col-md-9 p-0">
                                        <input type="date" class="form-control input-solid" name="Inicio">
                                    </div>
                                </div>

                                <div class="form-group form-inline">
                                    <label for="Fin" class="col-md-3 col-form-label">Al</label>
                                    <div class="col-md-9 p-0">
                                        <input type="date" class="form-control input-solid" name="Fin">
                                    </div>
                                </div>

                            </div>

                            <div class="card-action label-align-center col-md-12">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>


                        </div>


                    </form>

                    <script type="text/javascript">
                    $(function () {
                        var msg = '@ViewData["Mensaje"]';
                        if (msg == 'Vacio') {
                            Mensajes('Atención', 'Agregue un dato a su  búsqueda', 1);
                        }
                        else {

                        }
                    });
                    </script>

                </div>

                @if (ViewBag.Encontrado == null)
                {
                    return;
                }
                else
                {
                <div class="table-responsive">
                    <table id="basic-datatables" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Asunto</th>
                                <th>Responsable</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>% Avance</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var items in ViewBag.Encontrado)
                            {
                                <tr data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Da click para ver el detalle">
                                    <td>@items.Tareas.Asunto</td>
                                    <td>@items.Usuarios.Nombre</td>
                                    <td>@items.Tareas.Inicio.ToString("dd/MM/yyyy")</td>
                                    <td>@items.Tareas.Fin.ToString("dd/MM/yyyy")</td>
                                    <td>@items.Tareas.Avance</td>
                                    <td><a href="/Tareas/Editar?Id=@items.Tareas.Id">Actualizar</a></td>
                                    <!--td><a href="/Tareas/Editar/Id=" @items.Tareas.Id>Actualizar</a></!--td-->
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                }

            </div>
        </div>


    </div>
</div>
